* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(./../img/fondoDeBarra.jpeg);
}
.header img {
  float: left;
  width: 200px;
  height: 80px;
}
.header .barra {
  display: flex;
  justify-content: end;
}
.header ul {
  list-style: none;
  float: right;
}
.header ul li {
  display: inline-block;
  border-radius: 60px;
  line-height: 80px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
  color: aliceblue;
  border-radius: 10px;
}
.header ul li a:hover {
  transition: 0.5s;
  background-color: rgba(152, 151, 151, 0.263);
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#bars {
  display: none;
}

main {
  background-image: url(./../img/fondoDePag.jpeg);
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

.contenedor_tittle {
  background-image: linear-gradient(rgba(255, 255, 255, 0), black), url(./../img/gradient.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}
.contenedor_tittle .tittle {
  padding-top: 70px;
  color: aliceblue;
  text-shadow: 0 0 10px black;
}
.contenedor_tittle .tittle_txt {
  color: aliceblue;
}

.musculacion {
  background-image: url(./../img/musculacion.jpg);
  height: 180px;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  filter: brightness(0.5);
  box-shadow: 0px 0px 20px black;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

.musculacion:hover {
  filter: none;
  transition: 1s;
}

.crossfit {
  background-image: url(./../img/crossfit.jpg);
  height: 180px;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  filter: brightness(0.5);
  box-shadow: 0px 0px 20px black;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

.crossfit:hover {
  filter: none;
  transition: 1s;
}

.boxeo {
  background-image: url(./../img/boxeo.jpg);
  height: 180px;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  filter: brightness(0.5);
  box-shadow: 0px 0px 20px black;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

.boxeo:hover {
  filter: none;
  transition: 1s;
}

.funcional {
  background-image: url(./../img/funcional.jpg);
  height: 180px;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  filter: brightness(0.5);
  box-shadow: 0px 0px 20px black;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

.funcional:hover {
  filter: none;
  transition: 1s;
}

.yoga {
  background-image: url(./../img/yoga.jpg);
  height: 180px;
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  filter: brightness(0.5);
  box-shadow: 0px 0px 20px black;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
}

.yoga:hover {
  filter: none;
  transition: 1s;
}

.spinning {
  background-color: black;
  height: 100px;
}
.spinning h4 {
  margin: 0;
  color: aliceblue;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 30px;
}
.spinning p {
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(./../img/fondoDeBarra.jpeg);
  width: 100%;
  height: 90px;
}
footer .autor {
  font-family: "DM Sans", sans-serif;
  padding-top: 5px;
  padding-left: 20px;
  color: aliceblue;
}
footer .derechos {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: aliceblue;
}
footer .redes {
  font-size: 25px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
footer .redes a {
  color: aliceblue;
  margin: 0 10px;
}
footer .redes a:hover {
  color: rgba(148, 141, 141, 0.589);
  transform: translateY(-10px);
  transition: 1.1s;
}

@media (max-width: 1024px) {
  .header ul {
    margin-top: 5px;
  }
  .header ul li {
    line-height: 70px;
  }
  .header ul li a {
    font-size: 22px;
    margin: 5px;
  }
}
@media (max-width: 800px) {
  .header {
    height: 60px;
  }
  .header img {
    height: 60px;
    width: 150px;
  }
  .header ul li {
    line-height: 60px;
  }
  .header ul li a {
    font-size: 18px;
    margin: 5px;
  }
}
@media (max-width: 767px) {
  .checkbtn {
    display: block;
    line-height: 65px;
  }
  #bars:checked ~ ul {
    left: 0;
  }
  .header ul {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.892);
    top: 55px;
    padding-top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .header ul li a {
    font-size: 20px;
    margin: 0px;
  }
  .header ul li a:hover {
    transition: 0.5s;
    background-color: rgba(81, 79, 79, 0.724);
  }
}
@media (max-width: 600px) {
  footer {
    height: 125px;
  }
  footer .autor {
    font-size: 18px;
  }
  footer .derechos {
    font-size: 18px;
  }
  footer .redes a {
    font-size: 22px;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  footer {
    height: 145px;
  }
  footer .autor {
    padding-top: 2px;
    font-size: 18px;
    padding-bottom: 3px;
  }
  footer .derechos {
    font-size: 18px;
    padding: 0px 10px;
  }
  footer .redes {
    font-size: 22px;
  }
}/*# sourceMappingURL=clases.css.map */