* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.barra {
    display: flex;
    justify-content: end;
}
.barra ul {
    list-style: none;
}
.barra ul li {
    display: inline-block;
    padding-top: 25px;
}
.barra ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    color: aliceblue;
    border-radius: 10px;
}
.barra ul li a:hover{
    transition: 0.5s;
    background-color:  rgba(152, 151, 151, 0.263);
}
.header {
    height: 80px;
    width: 100%;
    background-image: url(./../img/fondoDeBarra.jpeg);
}
.logo img {
    float: left;
    width: 200px;
    height: 80px;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#bars{
    display: none;
}
main {
    background-image: url(./../img/fondoDePag.jpeg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    padding-top: 80px;
}
h1{
    color: aliceblue;
    font-size: 40px;
    font-family: 'ABeeZee', sans-serif;
    margin-bottom: 50px;
    margin-left: 20px;
}
.form{
    color: aliceblue;
    height: auto;
    width: 300px;
    background-image: url(./../img/fondoDeBarra.jpeg);
    border-radius: 7px;
}
fieldset {
    background-color: transparent;
    border-color: transparent;
}
legend{
    font-size: 22px;
    text-align: center;
}
h4{
    color: aliceblue;
    padding-left: 20px;
    font-size: 20px;
}
.sexo{
    padding-left: 20px;
}
form p{
    text-align: center;
}
.edad{
    text-align: center;
}
.oferta{
    text-align: center;
}
.oferta label{
    font-size: 20px;
}
.submit{
    text-align: center;
}
.parrafo{
        color: aliceblue;
        font-size: 18px;
        padding-top: 40px;
        padding-left: 8px;
        height: 170px;
        width: 300px;
        background-color:rgba(0, 0, 0, 0.38);
        border-radius: 5px;
}
footer {
    background-image: url(./../img/fondoDeBarra.jpeg);
    width: 100%;
    height: 120px;
}
footer .autor{
    font-family: 'DM Sans', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    color: aliceblue;
}
footer .derechos {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: aliceblue;
    
}
footer .redes {
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    padding-top: 8px;
    letter-spacing: 15px;


}
@media (max-width: 1024px) {
    .barra ul li a{
        font-size: 22px;
        margin: 5px;
    }
    .barra ul{
        margin-top: 5px;
    }
    .barra ul li{
        line-height: 20px;
    }
    main{
        padding-top: 50px;
    }
    h1{
        font-size: 28px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    footer{
        height: 89px;
    }
    footer .autor{
        padding-top: 8px;
        padding-bottom: 2px;
        font-size: 13px;
    }
    footer .derechos{
        font-size: 15px;
    }
    footer .redes{
        font-size: 25px;
        letter-spacing: 10px;
    }
}
@media (max-width: 800px) {
    .barra ul li a{
        font-size: 18px;
        margin: 5px;
    }
    .barra ul li{
        line-height: 8px;
    }
    .header{
        height: 60px;
    }
    .logo img{
        height: 60px;
        width: 150px;
    }
    main{
        padding-top: 50px;
    }
    h1{
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.38);
    }
}
@media (max-width: 650px) {
    .checkbtn{
        display: block;
        line-height: 65px;
    }
    .barra ul{
        position: fixed;
        width: 100%;
        height: 62.2vh;
        background-color: rgba(0, 0, 0, 0.313);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .barra ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    .barra ul li a{
        font-size: 20px;
        margin: 0px;
    }
    .barra ul li a:hover{
        transition: 0.5s;
        background-color:  rgba(81, 79, 79, 0.724);
    }
    #bars:checked ~ ul{
        left:0;
    }
    main{
        padding-top: 40px;
        height: auto;
    }
    h1{
        font-size: 28px;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.38);
    }
}
@media (max-width: 425px) {
    h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    footer{
        height: 75px;
    }
    footer .autor{
        padding-top: 2px;
        font-size: 11px;
        padding-bottom: 3px;
    }
    footer .derechos{
        font-size: 10px;
    }
}
@media (max-width: 375px) {
    .barra ul{
        height: 65vh;
    }
    footer .redes{
        font-size: 23px;
        letter-spacing: 10px;
        padding-top: 2px;
    }
}