* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), black), url(./../img/fondoDeBarra.jpeg);
}
.header img {
  float: left;
  width: 200px;
  height: 80px;
}
.header .barra {
  display: flex;
  justify-content: end;
}
.header ul {
  list-style: none;
  float: right;
}
.header ul li {
  display: inline-block;
  border-radius: 60px;
  line-height: 80px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
  color: aliceblue;
  border-radius: 10px;
}
.header ul li a:hover {
  transition: 0.5s;
  background-color: rgba(152, 151, 151, 0.263);
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#bars {
  display: none;
}

main {
  background-image: url(./../img/fondoDePag.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 20px;
}

.form-inline {
  margin-bottom: 15px;
}

.container-fluid {
  box-shadow: 0 0 40px black;
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(./../img/jumbotron.jpeg);
  background-size: cover;
}
.jumbotron p {
  color: aliceblue;
  font-size: 18px;
  text-shadow: 0 0 5px black;
}
.jumbotron h1 {
  color: aliceblue;
  background-color: rgba(240, 248, 255, 0);
  text-shadow: 0 0 10px black;
}

.img {
  display: flex;
  justify-content: center;
}
.img img {
  margin-top: 50px;
  border-radius: 5px;
}
.img .imagen-de-img {
  width: 800px;
}
.img .imagen-de-img:hover {
  transform: scale(1.01);
  transition: all 0.8s;
  box-shadow: 2px 2px 5px black;
}

.subtitle {
  font-size: 26px;
  padding-top: 8px;
  color: aliceblue;
  padding-left: 7px;
  width: 400px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.412);
}

.invitacion {
  width: 430px;
  color: aliceblue;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.412);
  margin: 0;
  padding: 5px;
}

footer {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(./../img/fondoDeBarra.jpeg);
  width: 100%;
  height: 90px;
}
footer .autor {
  font-family: "DM Sans", sans-serif;
  padding-top: 5px;
  padding-left: 20px;
  color: aliceblue;
}
footer .derechos {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: aliceblue;
}
footer .redes {
  font-size: 25px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
footer .redes a {
  color: aliceblue;
  margin: 0 10px;
}
footer .redes a:hover {
  color: rgba(148, 141, 141, 0.589);
  transform: translateY(-10px);
  transition: 1.1s;
}

@media (max-width: 1024px) {
  .header ul {
    margin-top: 5px;
  }
  .header ul li {
    line-height: 70px;
  }
  .header ul li a {
    font-size: 22px;
    margin: 5px;
  }
  h1 {
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  .img .imagen-de-img {
    width: 600px;
  }
  .subtitle {
    font-size: 20px;
    padding-right: 10px;
    height: 70px;
  }
  p.invitacion {
    font-size: 18px;
    height: 130px;
    width: 410px;
  }
  footer {
    height: 89px;
  }
  footer .autor {
    padding-top: 8px;
    padding-bottom: 2px;
    font-size: 13px;
  }
  footer .derechos {
    font-size: 15px;
  }
  footer .redes {
    font-size: 25px;
    letter-spacing: 10px;
  }
}
@media (max-width: 800px) {
  .header {
    height: 60px;
  }
  .header img {
    height: 60px;
    width: 150px;
  }
  .header ul li {
    line-height: 60px;
  }
  .header ul li a {
    font-size: 18px;
    margin: 5px;
  }
  main {
    padding-top: 50px;
  }
  h1 {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  .subtitle {
    font-size: 20px;
    padding-right: 10px;
    height: 70px;
  }
  p.invitacion {
    font-size: 18px;
    height: 130px;
    width: 410px;
  }
}
@media (max-width: 767px) {
  .header ul {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.892);
    top: 55px;
    padding-top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .header ul li a {
    font-size: 20px;
    margin: 0px;
  }
  .header ul li a:hover {
    transition: 0.5s;
    background-color: rgba(81, 79, 79, 0.724);
  }
  .checkbtn {
    display: block;
    line-height: 65px;
  }
  #bars:checked ~ ul {
    left: 0;
  }
  main {
    padding-top: 40px;
    height: auto;
  }
  h1 {
    font-size: 22px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  .subtitle {
    margin-top: 50px;
    font-size: 20px;
    width: 300px;
    padding-right: 0px;
    height: 70px;
  }
  p.invitacion {
    font-size: 15px;
    height: 80px;
    width: 450px;
    padding-bottom: 85px;
  }
}
@media (max-width: 661px) {
  .img .imagen-de-img {
    width: 500px;
  }
}
@media (max-width: 600px) {
  footer {
    height: 75px;
  }
  footer .autor {
    font-size: 12px;
  }
  footer .derechos {
    font-size: 12px;
  }
  footer .redes a {
    font-size: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 510px) {
  .img .imagen-de-img {
    width: 400px;
  }
  .invitacion {
    width: 400px;
  }
}
@media (max-width: 425px) {
  p.invitacion {
    width: 380px;
    padding-bottom: 100px;
  }
  footer {
    height: 75;
  }
  footer .autor {
    padding-top: 2px;
    font-size: 11px;
    padding-bottom: 3px;
  }
  footer .derechos {
    font-size: 10px;
  }
  footer .redes {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */