* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  background-image: url(./../img/fondoDeBarra.jpeg);
}
.header img {
  float: left;
  width: 200px;
  height: 80px;
}
.header .barra {
  display: flex;
  justify-content: end;
}
.header ul {
  list-style: none;
  float: right;
}
.header ul li {
  display: inline-block;
  border-radius: 60px;
  line-height: 80px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 10px;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
  color: aliceblue;
  border-radius: 10px;
}
.header ul li a:hover {
  transition: 0.5s;
  background-color: rgba(152, 151, 151, 0.263);
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#bars {
  display: none;
}

main {
  background-image: url(./../img/fondoDePag.jpeg);
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  padding-top: 80px;
}

h1 {
  color: aliceblue;
  font-size: 40px;
  font-family: "ABeeZee", sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

table {
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding-bottom: 40px;
}

th {
  font-size: 50px;
  height: 50px;
  width: 300px;
}

td {
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.38);
}

.musculacion {
  background-image: url(./../img/musculacion.jpeg);
}

.crossfit {
  background-image: url(./../img/crossfit.jpeg);
}

.funcional {
  background-image: url(./../img/funcional.jpeg);
}

.boxeo {
  background-image: url(./../img/boxeo.jpeg);
}

.zumba {
  background-image: url(./../img/zumba.jpeg);
}

.item:hover {
  transform: scale(1.05);
  transition: all 0.8s;
  box-shadow: 2px 2px 5px #333;
}

.item {
  border-radius: 10px;
}

tr li {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.38);
  font-size: 18px;
  list-style: none;
  padding-left: 5px;
  border-radius: 3px;
}

footer {
  background-image: url(./../img/fondoDeBarra.jpeg);
  width: 100%;
  height: 90px;
}
footer .autor {
  font-family: "DM Sans", sans-serif;
  padding-top: 5px;
  padding-left: 20px;
  color: aliceblue;
}
footer .derechos {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: aliceblue;
}
footer .redes {
  font-size: 25px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
footer .redes a {
  color: aliceblue;
  margin: 0 10px;
}
footer .redes a:hover {
  color: rgba(148, 141, 141, 0.589);
  transform: translateY(-10px);
  transition: 1.1s;
}

@media (max-width: 1024px) {
  .header ul {
    margin-top: 5px;
  }
  .header ul li {
    line-height: 70px;
  }
  .header ul li a {
    font-size: 22px;
    margin: 5px;
  }
  main {
    padding-top: 50px;
  }
  h1 {
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  table {
    padding-bottom: 50px;
  }
  tr li {
    border-radius: 7px;
  }
}
@media (max-width: 800px) {
  .header {
    height: 60px;
  }
  .header img {
    height: 60px;
    width: 150px;
  }
  .header ul li {
    line-height: 60px;
  }
  .header ul li a {
    font-size: 18px;
    margin: 5px;
  }
  h1 {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  table {
    padding-left: 20px;
    padding-right: 20px;
  }
  tr li {
    border-radius: 3px;
  }
}
@media (max-width: 767px) {
  .checkbtn {
    display: block;
    line-height: 65px;
  }
  #bars:checked ~ ul {
    left: 0;
  }
  .header ul {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.553);
    top: 55px;
    padding-top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .header ul li a {
    font-size: 20px;
    margin: 0px;
  }
  .header ul li a:hover {
    transition: 0.5s;
    background-color: rgba(81, 79, 79, 0.724);
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 28px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.38);
  }
  td {
    padding: 20px;
  }
  th {
    font-size: 40px;
  }
  tr li {
    border-radius: 3px;
  }
}
@media (max-width: 600px) {
  footer {
    height: 75px;
  }
  footer .autor {
    font-size: 12px;
  }
  footer .derechos {
    font-size: 12px;
  }
  footer .redes a {
    font-size: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  th {
    font-size: 26px;
  }
  td {
    padding: 8px;
  }
  tr li {
    font-size: 18px;
    border-radius: 3px;
  }
  footer {
    height: 75;
  }
  footer .autor {
    padding-top: 2px;
    font-size: 11px;
    padding-bottom: 3px;
  }
  footer .derechos {
    font-size: 10px;
  }
  footer .redes {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  th {
    font-size: 20px;
  }
  tr li {
    font-size: 15px;
    border-radius: 3px;
  }
  td {
    padding: 10px 0;
  }
}/*# sourceMappingURL=precios.css.map */