* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    height: 80px;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0),black) ,url(./../img/fondoDeBarra.jpeg);
    img {
        float: left;
        width: 200px;
        height: 80px;
    }
    .barra {
        display: flex;
        justify-content: end;
    }
    ul {
        list-style: none;
        float: right;
    }
    ul li {
        display: inline-block;
        border-radius: 60px;
        line-height: 80px;
    }
    ul li a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        margin: 10px;
        padding: 5px;
        font-family: 'DM Sans', sans-serif;
        color: aliceblue;
        border-radius: 10px;
    }
    ul li a:hover {
        transition: 0.5s;
        background-color: rgba(152, 151, 151, 0.263);
    }
    
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#bars{
    display: none;
}
main {
    background-image: url(./../img/fondoDePag.jpeg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    padding-top: 80px;
}
h1{
    color: aliceblue;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;

}
table{
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding-bottom: 40px;
}
th{
    font-size: 50px;
    height: 50px;
    width: 300px;
}
td{
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.38);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
}
.musculacion{
    background-image: url(./../img/musculacion.jpg);
}
.crossfit{
    background-image: url(./../img/crossfit.jpg);
}
.funcional{
    background-image: url(./../img/funcional.jpg);
}
.boxeo{
    background-image: url(./../img/boxeo.jpg);
}
.yoga{
    background-image: url(./../img/yoga.jpg);
}
.item:hover{
    transform: scale(1.05);
    transition: all 0.8s;
    box-shadow: 2px 2px 5px #333;
}
.item{
    border-radius: 10px;
}
tr li{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.38);
    font-size: 18px;
    list-style: none;
    padding-left: 5px;
    border-radius: 3px;
}
.tittle_spinning{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    background-color: black;
}
.video{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.731);
}
footer {
    background-image: url(./../img/fondoDeBarra.jpeg);
    width: 100%;
    height: 90px;
    .autor {
        font-family: 'DM Sans', sans-serif;
        padding-top: 5px;
        padding-left: 20px;
        color: aliceblue;
    }
    .derechos {
        font-family: 'DM Sans', sans-serif;
        text-align: center;
        color: aliceblue;
    }
    .redes {
        font-size: 25px;
        color: aliceblue;
        display: flex;
        justify-content: center;
    }
    .redes a {
        color: aliceblue;
        margin: 0 10px;
    }
    .redes a:hover {
        color: rgba(148, 141, 141, 0.589);
        transform: translateY(-10px);
        transition: 1.1s;
    }
}
@media (max-width: 1024px) {
    .header{
        ul {
            margin-top: 5px;
        }
        ul li {
            line-height: 70px;
        }
        ul li a {
            font-size: 22px;
            margin: 5px;
        }
    }
    main{
        padding-top: 50px;
    }
    h1{
        font-size: 28px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    table{
        padding-bottom: 50px;
    }
    tr li{
        border-radius: 7px;
    }
}
@media (max-width: 800px) {
    .header {
        height: 60px;
        img {
            height: 60px;
            width: 150px;
        }
        ul li {
            line-height: 60px;
        }
        ul li a {
            font-size: 18px;
            margin: 5px;
        }
    }
    h1{
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    table{
        padding-left: 20px;
        padding-right: 20px;
    }
    tr li{
        border-radius: 3px;
    }
}
@media (max-width: 767px) {
    .checkbtn {
        display: block;
        line-height: 65px;
    }

    #bars:checked~ul {
        left: 0;
    }

    .header{
        ul {
            position: fixed;
            width: 100%;
            height: auto;
            background-color: rgba(0, 0, 0, 0.892);
            top: 55px;
            padding-top: 50px;
            left: -100%;
            text-align: center;
            transition: all 0.5s;
        }
        ul li {
            display: block;
            margin: 40px 0;
            line-height: 30px;
        }
        ul li a {
            font-size: 20px;
            margin: 0px;
        }
        ul li a:hover {
            transition: 0.5s;
            background-color: rgba(81, 79, 79, 0.724);
        }
    }
}
@media (max-width: 650px) {
    h1{
        font-size: 28px;
        padding-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.38);
    }
    td{
        padding: 20px ;
    }
    th{
        font-size: 40px;
    }
    tr li{
        border-radius: 3px;
    }
    
}
@media (max-width: 600px) {
    footer {
        height: 75px;
        .autor {
            font-size: 12px;
        }
        .derechos {
            font-size: 12px;
        }
        .redes a {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
}
@media (max-width: 425px) {
    h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    th{
        font-size: 26px;
    }
    td{
        padding: 8px;
    }
    tr li{
        font-size: 18px ;
        border-radius: 3px;
    }
    footer {
        height: 75;
        .autor {
            padding-top: 2px;
            font-size: 11px;
            padding-bottom: 3px;
        }
        .derechos {
            font-size: 10px;
        }
        .redes {
            font-size: 20px;
        }
    }
}
@media (max-width: 375px) {
    th{
        font-size: 20px;
    }
    tr li{
        font-size: 15px;
        border-radius: 3px;
    }
    td{
        padding: 10px 0;
    }
}